<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://http2.mlstatic.com/static/org-img/ch/ui/0.13.4/chico-mesh.min.css" />
    <link rel="stylesheet" type="text/css" href="https://http2.mlstatic.com/resources/frontend/web-homes/ui-dist/css/bundle__main-320155ae3a.css" />
    <link rel="stylesheet" type="text/css" href="https://http2.mlstatic.com/resources/frontend/commons-frontend/ui-dist/css/bundle__menu_ML_desktop_full.e2554b80.css" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - Mercado Livre</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mercado Livre">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <meta name="theme-color" content="#317EFB" />
</head>
<body>
    <header role="banner" class="nav-header nav-header-sticky">
        <div class="nav-bounds nav-bounds-with-cart ">
            <a class="nav-logo" href="/">
                Mercado Livre Brasil - Onde comprar e vender de Tudo
            </a>
            <form class="nav-search" action="/Items" method="GET" role="search">
                <input value="" tabindex="1" type="text" class="nav-search-input" name="search" max-length="120" autocapitalize="off"
                       autocorrect="off" spellcheck="false" autofocus
                       placeholder="" />
                <button type="submit" class="nav-search-btn">
                    <i class="nav-icon-search"><span>Buscar</span></i>
                </button>
            </form>
        </div>
    </header>

    <div class="ml-main">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/app.js" async asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/app.js" async asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
