@{
    ViewData["Title"] = "Search Page";
}

<script>
    function runSearch(search) {
        console.log(search.substring(0, 3));
        if (search.substring(0, 3) == "MLA") {
            window.location.href = "Item/" + search;
        }
        else {
            window.location.href = "Items?search=" + search;
        }
    }
    function runScript(e) {
        if (e.keyCode == 13) {
            var search = $('#search').val();
            runSearch(search);
        }
    }
</script>

<div class="card cardTemplate weather-forecast">
    <div ng-cloak ng-show="Items != null" ng-app="app" ng-controller="itemController" class="">
        <input type="text" onkeypress="return runScript(event)" id="search" />
        <button id="1" onClick="runSearch(search.value)">Search</button>
    </div>
</div>
