@{
    ViewData["Title"] = "Search Page";
}

<input type="text"></input><a>Buscar</a>

<environment names="Development">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/app.js" async asp-append-version="true"></script>
</environment>
