@{
    ViewData["Title"] = "Items Page";
}

<script>
    var app = angular.module("app", []);
    app.controller("itemController", function ($scope, $http) {
        $scope.GetItems = function (id) {
            $http.get('/api/Items?search=' + search)
            .then(function (response) {
                $scope.Items = response.data;
            });
        };
        var search = "@ViewData["search"]";
        $scope.GetItems(search);
    });
</script>

<div class="card cardTemplate weather-forecast">
    <div ng-cloak ng-show="Items != null" ng-app="app" ng-controller="itemController" class="">
        <ol id="searchResults" class="section search-results list-view stack search-results-core" imgtype="listingLightweight">
            <li class="results-item article stack " ng-repeat="i in Items.result.items | limitTo: 4">
                <div class="rowItem item item--stack new " id="{{i.id}}">
                    <div class="item__image item__image--stack">
                        <div class="images-viewer" item-url="/Items/{{i.id}}" item-id="{{i.id}}">
                            <div class="image-content">
                                <a href="/Items/{{i.id}}" class="figure item-image item__js-link">
                                    <img width="160" height="160" alt="{{i.picture}}" src="{{i.picture}}" class="lazy-load" srcset="{{i.picture}} 1x, {{i.picture}} 2x">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item__info-container ">
                        <div class="item__info">
                            <h2 class="item__title list-view-item-title">
                                <a href="Items/{{i.id}}" class="item__info-title"> <span class="main-title"> {{i.title}} </span> </a>
                            </h2>
                            <div class="price__container">
                                <div class="item__price "> <span class="price-symbol">$</span> <span class="price-fraction">{{i.price.amount}}</span></div>
                            </div>
                            <div class="item__stack_column">
                                <div class="item__stack_column__info">
                                    <div class="stack_column_item shipping" ng-show="i.free_shipping">
                                        <div class="item__shipping icon-truck-small">
                                            <p class="stack-item-info "> Free shipping </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>