@{
    ViewData["Title"] = "Item Detail Page";
}

<script>
    var app = angular.module("app", []);

    app.controller("itemController", function ($scope, $http) {
        $scope.GetItemDetail = function (id) {
            $http.get('/api/Items/' + id)
            .then(function (response) {
                $scope.Item = response.data.itemdetail;
            });
        };
        var id = "@ViewData["id"]";
        $scope.GetItemDetail(id);
    });
</script>

<div class="card cardTemplate weather-forecast">
    <div ng-app="app" ng-controller="itemController" class="">
        <table class="table table-responsive">
            <tr>
                <td ng-bind="Item.item.id"></td>
                <td ng-bind="Item.item.title"></td>
                <td ng-bind="Item.item.price.amount"></td>
                <td ng-bind="Item.item.picture"></td>
                <td ng-bind="Item.item.condition"></td>
                <td ng-bind="Item.item.free_shipping"></td>
                <td ng-bind="Item.item.sold_quantity"></td>
                <td ng-bind="Item.item.description"></td>
            </tr>
        </table>
    </div>
</div>
