@{
    ViewData["Title"] = "Item Detail Page";
}

<script>
    var app = angular.module("app", []);

    app.controller("itemController", function ($scope, $http) {
        $scope.GetItemDetail = function (id) {
            $http.get('/api/Items/' + id)
            .then(function (response) {
                $scope.Item = response.data.itemdetail;
            });
        };
        var id = "@ViewData["id"]";
        $scope.GetItemDetail(id);
    });
</script>

<div ng-app="app" ng-controller="itemController">
    <h2 ng-bind="Item.item.title"></h2>
    <p><img src="{{Item.item.picture}}"/></p>
    <div>
        <p ng-bind="Item.item.id"></p>
        Titulo<p ng-bind="Item.item.title"></p>
        Price<p ng-bind="Item.item.price.amount"></p>
        <p ng-bind="Item.item.picture"></p>
        <p ng-bind="Item.item.condition"></p>
        <p ng-bind="Item.item.free_shipping"></p>
        <p ng-bind="Item.item.sold_quantity"></p>
        <p ng-bind="Item.item.description"></p>
    </div>
</div>
